._6341f5794d35fb69-pictureInPictureWindow:has(button[aria-label="Stream Settings"]) {
    display: none;
}

.pictureInPictureWindow__6341f:has(button[aria-label="Stream Settings"]) {
    display: none;
}