._59d0d7075b521375-layerContainer:has(._6341f5794d35fb69-pictureInPicture) {
    left: 0px;
}

._51fd70792ee2e563-appMount:has(.c8ffbb79449f399c-members) {
    ._59d0d7075b521375-layerContainer:has(._6341f5794d35fb69-pictureInPicture) {
        left: -200px;
    }
}

.layerContainer__59d0d:has(.pictureInPicture__6341f) {
    left: 0px;
}

.appMount__51fd7:has(.members_c8ffbb) {
    .layerContainer__59d0d:has(.pictureInPicture__6341f) {
        left: -200px;
    }
}
