._91a9d7f7e5248a56-nameplated ._4bbc6dc06e75ad52-img {
    display: none;
}

.c19a557985eb7793-avatarDecoration {
    display: none;
}

.nameplated__91a9d .img__4bbc6 {
    display: none;
}

.avatarDecoration_c19a55 {
    display: none;
}
