/**
  * @name Hide stream preview
  * @version 1.0
  * @author @voidpro-dev
  * @source https://github.com/git-static/git-static.github.io
  * @description Fix Offset of PiP window
*/
@import url("https://git-static.github.io/pip-offset.css");